body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*******************  Header Start  ******************************/
header {
    height: 100px;
    background-color: orange;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeftIcons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerTitle {
    font-size: 32px;
    color: whitesmoke;
    padding-left: 10px;
}

.deliverandoImg {
    height: 70px;
    width: 70px;
    object-fit: contain;
    padding: 15px;
}


.germanyFlagImg {
    height: 50px;
    width: 50px;
    object-fit: cover;
    padding-top: 25px;
    padding-bottom: 25px;

    border-radius: 100%;
}


.solidBarImg {
    height: 40px;
    width: 40px;
    object-fit: contain;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
}

/*******************  Header End  *******************************/




/****************************************************************************************************************************************************************/
/*********************************************************  Body Content Start  *********************************************************************************/
.shopImg {
    height: 200px;

}

.shopImg img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: middle;
}


.content {
    display: flex;
}

.leftContent {
    /*height: 3000px;*/
    /*provisorische Höhe, Später wenn Inhalt gefüllt ist-braucht es nicht mehr*/
    width: 70%;
    background-color: whitesmoke;
}


.rightShoppingCart {
    width: 30%;
    height: 100vh;
    background-color: rgba(230, 227, 185, 0.5);
    position: sticky; /*Klebend bleiben an seiner Position*/
    top: 0; /*Wenn oben Abstand weniger als 0 haben soll es klebend bleiben */
    /*box-shadow: -7px 0px 3px -6px rgba(0, 0, 0, 0.2);*/
    border: 2px solid rgba(0, 0, 0, 0.45);
}


.card {
    border: 1px solid rgba(0, 0, 0, 0.7);
    margin: 20px 20px 20px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    /* cursor: pointer; */
}

.card:hover {
    background-color: rgba(253, 252, 250, 0.164);
}

.cardLeftCorner h3,
p {
    margin: unset;
    padding: 10px;

}

.cardRightCorner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.cardRightCorner button {
    padding: unset;
    margin: unset;
    font-size: 25px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    ;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.cardRightCorner button:hover {
    background-color: rgba(235, 181, 96, 0.377);
}

.cardRightCorner p {
    padding: unset;
    margin-top: 10px;
}

.plusImg {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 100%;
}

/*************************************************************************************************************************/
.basketHeader{
    padding-top: 20px;
    padding-bottom: 20px;
}



.basketContent {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.basketContent div {
    display: flex;
    gap: 8px;
}

.adjustButtons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.baskeElementBorder {
    /*border-top: 1px solid rgba(150, 146, 146, 0.466);*/
    padding-top: 5px;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.6);
    /*nur bei Y-Achse unten, weil positiver Wert. (Wenn negativ dann Y oben)*/
}

#shopingBasketContainer{
    margin-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 360px);
    position: sticky;
    top: 120px;
}

.invoiceElement{
    display: flex;
    justify-content: space-between;
}

.shoppingBasketInvoiceContent{
    position: sticky;
    top: 80vh;
    bottom: 0px;
    padding-bottom: 5px;
    padding: 4px;
}


.orderButton {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 179, 43);
    border-radius: 10px;
    width: 96%;
    margin: 2%;
    height: 30px;
    font-size: 20px;
    font-size: bold;
    border-color: transparent;
    cursor: pointer;
}

.orderButton:hover {
    background-color: orange;
}

.emptyBasketImg {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.amountIncreaseBtn {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

.amountIncreaseBtn:hover {
    background-color: rgba(235, 181, 96, 0.377);
}

.amountDecreaseBtn {
    padding-top: 1px;
    padding-right: 7px;
    padding-left: 7px;
}

.amountDecreaseBtn:hover {
    background-color: rgba(235, 181, 96, 0.377);
}


.homeButton {
    display: none;
}


#showBasketButton {
    display: none;
    position: fixed;
    width: 80vw;
    background-color: #ff8000;
    border-radius: 24px;
    height: 48px;
    bottom: 32px;
    left: 10vw;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#showBasketButton {
    background-color: #df7002;
}


#leftContent {
    width: calc(100vw - 400px);
}

.basket-header {
    position: sticky;
    top: 0px;
    padding: 16px 0;
    background-color: white;
    width: inherit;
    text-align: center;
    /*z-index: 100;*/
}

/*********************************************************  Body Content End  ***********************************************************************************/
/****************************************************************************************************************************************************************/




/*******************  Footer Start  *******************************/
footer {
    height: 300px;
    background-color: gray;
}


/*******************  Footer End  *********************************/





/*******************default Styles*******************************/
.textCenter {
    text-align: center;
}

.defaultMarginLeft {
    margin-left: 30px;
}

.d-none {
    display: none !important;
}

.no-scroll {
    overflow-x: hidden;
}

.oparcity_Full{
    opacity: 1 !important;
}



/*****************************************************************/




/******************Responsive Mode***********************************************/
@media(max-width: 1000px) {
    .headerLeftIcons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .headerRightIcons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .headerTitle {
        font-size: 24px;
    }

    .solidBarImg {
        height: 30px;
        width: 30px;
        object-fit: contain;
    }

    .deliverandoImg {
        display: none;
    }

    .germanyFlagImg {
        display: none;
    }

    /*************header responsive end*******************/

    .content {
        flex-direction: column-reverse;
    }

    .shopImg {
        width: unset;
    }

    
    #leftContent {
        overflow-y: scroll;
        overflow-x: hidden;
    } 

    #leftContent {
        width: unset;
        height: 100vh;
        position: fixed;
        top: 100px;
        padding: unset;
    }



    #rightShoppingCart {
        width: unset;
        opacity: 0;
    }

    /*#shoppingBasketListContainer {
        width: unset;
    }*/

    #invoiceContainer {
        width: 100%;
    }


    #showBasketButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .homeButton {
        height: 66px;
        width: 56px;
        object-fit: cover;
        display: unset;
        cursor: pointer;
    }

    .basketHeader {
        display: flex;
        justify-content: center;
    }
}